
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.update-button, .delete-button {
    background-color: #007bff; /* Blue background for update button */
    color: #fff; /* White text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    text-decoration: none; /* Remove default link underline */
    display: inline-block; /* Display inline */
    margin-right: 5px; /* Add margin between buttons */
}

.delete-button {
    background-color: #ff0000; /* Red background for delete button */
}

.update-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.table th {
    background-color: #007bff; /* Blue header background */
    color: #ffffff; /* White text */
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray row background */
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
